@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  --light-shade: #e2e2e2;
  --light-accent: #67acc2;
  --main: #0866a5;
  --dark-accent: #455b79;
  --dark-shade: #1b211e;
  background-color: var(--light-shade);
}

* {
  box-sizing: border-box;
}

/* Navbar Start */

nav {
  background: var(--main);
  color: var(--dark-shade);
}

.nav_container {
  background: var(--main);
  color: var(--dark-shade);
  padding: 1em 0.75em;
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
}

.nav_links_container {
  width: 12em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--light-shade);
  font-size: 1.25rem;
}

.nav_logo {
  padding: 0.5em;
  background: var(--light-shade);
  border-radius: 4px;
}

/* Navbar End */

/* Homepage Container Start */

.home_container {
  max-width: 960px;
  padding: 1em 0.75em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.home_image_container {
  min-width: 45%;
  display: flex;
  justify-content: stretch;
}

.home_content_container {
  margin-left: 0.25em;
  background: #fff;
  padding: 0.75em 1em;
  min-width: 50%;
}

.home_content_container .title {
  margin-top: 0;
}

@media (max-width: 760px) {
  .home_container {
    flex-direction: column;
    align-items: center;
  }

  .home_image_container {
    margin-bottom: 1em;
  }

  .home_content_container {
    width: 100%;
    margin-left: 0;
  }
}
/* Homepage Container End */

/* Footer Start */

.footer_container {
  border-top: 2px solid var(--dark-accent);
  padding: 1em 0.75em;
  margin: 0 auto;
  max-width: 960px;
  width: 95%;
  display: flex;
  justify-content: center;
  background: var(--light-shade);
  font-size: 1.5rem;
}
@media (max-width: 450px) {
  .footer_container p {
    font-size: 1rem;
  }
}

/* Footer End */
