@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  --light-shade: #e2d7ca;
  --light-accent: #67acc2;
  --main: #0866a5;
  --dark-accent: #455b79;
  --dark-shade: #1b211e;
}

* {
  box-sizing: border-box;
}

/* Global Styles */
nav,
footer {
  background: var(--main);
  color: var(--dark-shade);
}

.footer_container,
.nav_container {
  padding: 1em 0.75em;
  margin: 0 auto;
  max-width: 960px;
  display: flex;
}

/* Navbar Start */

.nav_container {
  justify-content: space-between;
}

.nav_links_container {
  width: 18em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--light-shade);
  font-size: 1.25rem;
}

.nav_logo {
  padding: 0.5em;
  background: var(--light-shade);
  border-radius: 4px;
}

/* Navbar End */

/* Footer Start */

.footer_container {
  justify-content: center;
  color: var(--light-shade);
  font-size: 1.5rem;
}

/* Footer End */
